<section id="contact">
    <div class="contact-footer">
        <ul class="icons">
            <li><a href="https://www.linkedin.com/in/maria-barba-035b821a1/" class="icon brands fa-linkedin"><span class="label">LinkedIn</span></a></li>
            <li><a href="https://github.com/marb543" class="icon brands fa-github"><span class="label">Github</span></a></li>
            <li><a href="mailto:brmaria716@gmail.com" class="icon solid fa-envelope"><span class="label">Email</span></a></li>
        </ul>
        <ul class="copyright">
            <li>&copy; Maria Barba 2025</li>
        </ul>
    </div>
</section> 