<header id="header">
    <div class="inner">
        <a href="#" class="image avatar"><img src="images/avatar.jpg" alt="" /></a>
        <h1><strong>Hi, I am Maria Barba</strong></h1>

        <div class="menu">
            <div class="menu-links">
                <div><a href="./index.html">Home</a></div>
                <div><a href="./AboutMe.html">About</a></div>
                <div><a href="./MyResume.html">Resume</a></div>
            </div>

            <div class="dropdown">
                <button class="dropbtn" onclick="toggleDropdown()">Projects ▼</button>
                <div id="dropdown-content" class="dropdown-content scrollable">
                    <!-- Populated by JavaScript -->
                </div>
            </div>
        </div>
    </div>
</header> 